interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://fakerapi.it/api/v1/books?_quantity=1&param1=qwerty
  response:
    content: '{"status":"OK","code":200,"total":1,"data":[{"title":"Cat. ''Do you
      play.","author":"Mervin Zulauf","genre":"Ad","description":"I''ve got to the
      porpoise, \"Keep back, please: we don''t want to be?'' it asked. ''Oh, I''m
      not myself, you see.'' ''I don''t quite understand you,'' she said, without
      opening its eyes, ''Of course, of.","isbn":"9782943949905","image":"http:\/\/placeimg.com\/480\/640\/any","published":"1998-09-03","publisher":"Ut
      Sapiente"}]}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '29'
    status_code: 200
version: 1
