interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://fakerapi.it/api/v1/books?_quantity=1&param1=qwerty
  response:
    content: '{"status":"OK","code":200,"total":1,"data":[{"title":"Alice began.","author":"Carmella
      Osinski","genre":"Labore","description":"I didn''t!'' interrupted Alice. ''You
      are,'' said the Mock Turtle, ''they--you''ve seen them, of course?'' ''Yes,''
      said Alice to herself, ''because of his pocket, and pulled out a history of
      the month, and.","isbn":"9797084459572","image":"http:\/\/placeimg.com\/480\/640\/any","published":"1978-08-10","publisher":"Quos
      Ullam"}]}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '29'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://fakerapi.it/api/v1/books?_quantity=1&param1=qwerty
  response:
    content: '{"status":"OK","code":200,"total":1,"data":[{"title":"Queen, the royal.","author":"Jayce
      Pacocha","genre":"Earum","description":"They all sat down at once, she found
      herself in the night? Let me think: was I the same as the rest of the crowd
      below, and there stood the Queen merely remarking as it spoke. ''As wet as ever,''
      said.","isbn":"9784458758737","image":"http:\/\/placeimg.com\/480\/640\/any","published":"2002-07-04","publisher":"Aspernatur
      Quis"}]}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '28'
    status_code: 200
version: 1
